/* Name: Sushant Dahal , UN-ID: 17425084*/
body{
	margin:0;
	font-size:21px; 
	background:#e3e3e3;
	font-family:sans-serif; 
	} 
h1{

	background:linear-gradient(white,silver);
	margin:auto;
	text-align: center; 
	color:green;
	 
}
.menubar ul{
	background:linear-gradient(white,silver);
	display:flex;
	flex direction:row; 
	float:left;
	border:1px solid #555;
	width:100%;
	}
a{
	text-decoration:none; 
	color:green;
}
.menubar ul li {
	padding:10px;
	margin:10px;
	list-style:none;
	}	
 li a:hover{
 	background-color:blue;
 	color:white;
 	text-align:center;
 	text-decoration:underline;  
 }
.img{
	padding-left:500px;  

	       
}
section p{
	background:linear-gradient(white,silver);
	padding:5px; 
	height:100px; 
	color:green;
	border:2px solid black;

}
footer .paragraph{
	background:linear-gradient(white,silver); 
	height:50px; 
	color:green;


}
footer .paragraph a:hover{
	background-color:blue;
 	color:white;
 	text-align:center;
 	text-decoration:underline;  
 }

}
@media screen and (max-width:600px){
	  
	  	body{
	  		font-size:10px; 
	  	}
	  	.img{
	  		padding:50px;
	  		 
	  	}
	  

	 

}

						

						                          
 