/* Name: Sushant Dahal , UN-ID: 17425084*/
body{
	margin:0;
	font-size:21px; 
	background:#e3e3e3;
	font-family:sans-serif; 
	 } 
h1{

	background:linear-gradient(white,silver);
	margin:auto;
	text-align: center; 
	color:green;
	width:100%; 
	 
}
.menubar ul{
	background:linear-gradient(white,silver);
	display:flex;
	border:1px solid #555;
	width:100%;
	}
.menubar ul li a{
	text-decoration:none; 
	color:green;
}
.menubar ul li {
	padding:10px;
	margin:10px;
	list-style:none;
	}	
 .menubar ul li a:hover{
 	background-color:blue;
 	color:white;
 	text-align:center;
 	text-decoration:underline;  
 }

.img{
	margin-left:500px;  


	       
}
section p{
	background:linear-gradient(white,silver);
	padding:5px; 
	color:green;
	border:2px solid #555;

}
footer .paragraph{
	background:linear-gradient(white,silver); 
	height:50px; 
	color:green;


}
footer .paragraph a:hover{
	background-color:blue;
 	color:white;
 	text-align:center;
 	text-decoration:underline;  
 }

}
@media screen and (max-width:600px) {
		body {
		font-size : 10px;
			}

		.img{
			margin-left:20px;
			}		
}

		
	
	  

	 
	  		 
	  	
	  

	 


						

						                          
 